<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="auth">

    <select id="findUserByAccessToken" parameterType="string" resultType="Insurance">
        SELECT
            registered_client_id,
            principal_name,
            access_token_value,
            access_token_issued_at,
            access_token_expires_at,
            <![CDATA[(access_token_expires_at < now()) as is_expired]]>
        FROM
            insuranceOAuth.oauth2_authorization
        WHERE
            access_token_value = #{accessToken};
    </select>

</mapper>