<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.insurancepredict.repository.InsuranceMapper">

    <insert id="insertPrediction" parameterType="com.example.insurancepredict.model.Insurance">
        INSERT INTO predictions (age, bmi, children, sex, smoker, region, predicted_charge)
        VALUES (#{age}, #{bmi}, #{children}, #{sex}, #{smoker}, #{region}, #{predictedCharge})
    </insert>

    <select id="selectInsuranceById" parameterType="java.lang.Long" resultType="com.example.insurancepredict.model.Insurance">
        SELECT * FROM predictions WHERE id = #{id}
    </select>

    <select id="findUserByAccessToken" parameterType="string" resultType="com.example.insurancepredict.model.Insurance">
        SELECT
            registered_client_id as registeredClientId,
            principal_name as principalName,
            access_token_value as accessTokenValue,
            access_token_issued_at as accessTokenIssuedAt,
            access_token_expires_at as AccessTokenExpiresAt,
            <![CDATA[(access_token_expires_at < now()) as is_expired]]>
        FROM
            insuranceOAuth.oauth2_authorization
        WHERE
            access_token_value = #{accessToken}
    </select>

</mapper>